<!-- Navigation Section -->
<div class="menu-btn">☰</div> <!-- Burger Menu Icon (hidden on large screens) -->


<div class="header-container">
    <div class="logo">
        <h1>Erlend Raa Vågset</h1>
        <p>Assistant professor at HVL</p>
    </div>
</div>

<div class="menu">
    <nav>
        <ul>
            <li><a href="about.html">About</a></li> <!-- Correctly closed the li -->
            <li><a href="education.html">Teaching</a></li>
            <li><a href="interests.html">Research</a></li>
        </ul>
    </nav>
</div>