

<div class="menu">
    
    <nav>
        <ul>
            <li><a href="hi.html">Erlend</a>
                <ul>
                    <li><a href="home.html">About me</a></li>
                    <li><a href="random.html">Random</a>
                        <ul>
                            <li><a href="games.html">Games</a></li>
                            <li><a href="visual.html">Visuals</a></li>
                            <li><a href="responsibilities.html">Responsibilities</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </li>
            <li><a href="education.html">Teaching</a>
                <ul>
                    <li><a href="courses.html">Courses</a></li>
                    <li><a href="outreach.html">Outreach</a>
                        <ul>
                            <li><a href="csoutreach.html">Computer science</a></li>
                            <li><a href="mathoutreach.html">Mathematics</a></li>
                            <li><a href="scienceoutreach.html">Science</a></li>
                        </ul>
                    </li>
                    <li><a href="mentoring.html">Mentoring</a></li>
                </ul>
            </li>
            <li><a href="research.html">Research</a>
                <ul>
                    <li><a href="publications.html">Publications</a></li>
                    <li><a href="interests.html">Interests</a>
                        <ul>
                            <li><a href="algorithms.html">Algorithms</a></li>
                            <li><a href="topology.html">Topology</a></li>
                            <li><a href="machinelearning.html">Machine Learning</a></li>
                        </ul>
                    </li>
                    <li><a href="publications.html">Collaboration</a></li>                    
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div class="header-container">
    <br>
    <div class="logo">
        <h1>Erlend Raa Vågset</h1>
        <p>Assistant professor at HVL</p>
    </div>
</div>

<div class="menu-btn">☰</div>
